body {
    font-family: Arial;
    box-sizing: border-box;
    color: #fff;
}

section {
    color: #000;
}

nav {
    margin: auto;
    height: 60px;
    background: #EDEDED;
    z-index: 1001;
    overflow: hidden;
}

nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    float: left;
}

.nav-primary li {
    display: table;
    float: left;
    list-style: none;
    width: 15%;
    height: 100%;
    position: relative;
    border-left: 1px solid #cccbc9;
    cursor: pointer;
    font-size: 20px;
}

.nav-primary li:first-child {
    border-left: none;
}

.nav-primary li:hover {
    background: #337AB7;
    color: #ededed;
}

.nav-primary li:hover a,
.nav-primary li.active a {
    color: #ededed;
}

.nav-primary li.active {
    background: #337AB7;
}

.hero::after,
.nav-primary li:hover::after,
.nav-primary li.active::after {
    border-color: transparent transparent #ededed transparent;
}

.hero.blurred::after {
    border-color: transparent transparent #337AB7 transparent;
}

.nav-primary li > a {
    color: #337AB7;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    height: 100%;
    /*top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);*/
    
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.nav-primary li > a > span {
    padding-left: 10px;
    float: left;
}

.btn span.glyphicon {
    float: left;
    padding-right: 5px;
}

h2 .glyphicon {
    float: right;
}

textarea {
    width: 100%;
}

.hero {
    background: #263092;
    color: #ededed;
    font-size: 22px;
    width: 20%;
    height: 60px;
    position: fixed;
    float: left;
    cursor: pointer;
    display: table;
    z-index: 100;
}

.hero-inner {
    /*top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);*/
    
    display: table-cell;
    vertical-align: middle;
    padding-left: 60px;
}
.hero-inner a,
.hero-inner a:active,
.hero-inner a:visited{
    color:#fff;
    text-decoration: none;
}

.hero-insite {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-right: 10px;
}

.hero.blurred {
    color: #263092;
    background: #ededed;
}

.hero.blurred a {
    color: #263092;
}

.nav-secondary {
    background: #263092;
    color: #ededed;
    overflow: hidden;
}

.nav-secondary > div {
    display: none;
    overflow: hidden;
}

.nav-secondary ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-secondary li {
    display: block;
    float: left;
    list-style: none;
    width: 33%;
    text-align: center;
    height: 40px;
    padding-top: 20px;
    position: relative;
    cursor: pointer;
    font-size: 20px;
}

.nav-secondary li:hover {
    background: #263092;
}

.nav-secondary a {
    color: #fff;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.menu-toggle {
    display: none;
}
/*@media (min-width:992px){
    .nav-primary li::after{
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 7px 7px;
        border-color: transparent transparent #337AB7 transparent;
        position: absolute;
        bottom: 7%;
        right: 3%;
    }
}*/
/*@media (max-width:991px){*/

.container {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding-top:10px;
}

nav {
    position: fixed;
    width: 300px;
    height: 100%;
    top: 60px;
    left: -300px;
    background: #337AB7;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

nav.active {
    -moz-transform: translate3d(300px, 0, 0);
    -webkit-transform: translate3d(300px, 0, 0);
    -o-transform: translate3d(300px, 0, 0);
    -ms-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
}
.hero {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    background: #263092;
}

.hero-inner {
    left: 70px;
}

nav ul {
    width: 100%;
}

.nav-primary li {
    float: none;
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 1px solid #263092;
}

.nav-primary li a {
    color: #fff;
}

.nav-primary li br {}

.nav-primary li::after {
    display: none;
}

.nav-secondary li {
    width: 100%;
    border-bottom: 1px solid #263092;
}

.nav-secondary {
    position: fixed;
    top: 60px;
    width: 290px;
    height: 100%;
    left: -300px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1002;
}

.nav-secondary.active {
    left: 0px;
}

.drawer-open .hero {
    background: #2D86DB;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.drawer-open .hero::before {
    content: '\25C0';
    position: absolute;
    top: 12px;
    left: 10px;
    color: #263092;
}

.drawer-open .hero:hover::before {
    color: #fff;
}

.nav-secondary li::after {
    content: '\25B6';
    position: absolute;
    top: 18px;
    right: 10px;
    color: #263092;
}

.nav-primary li::before {
    content: '\25B6';
    position: absolute;
    top: 13px;
    right: 10px;
    color: #263092;
    width: auto;
    height: auto;
    border: none;
}

.nav-primary li:hover::before {
    color: #fff;
}

.nav-secondary li:hover::after {
    color: #337AB7;
}

.menu-toggle {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 10px;
    top: 12px;
    display: block;
}

.svg-menu-toggle {
    fill: #fff;
    pointer-events: all;
    cursor: pointer;
    height: 100%;
}

.svg-menu-toggle .bar {
    -webkit-transform: rotate(0) translateY(0) translateX(0);
    transform: rotate(0) translateY(0) translateX(0);
    opacity: 1;
    -webkit-transform-origin: 20px 10px;
    transform-origin: 20px 10px;
    -webkit-transition: -webkit-transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
    transition: transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
}

.svg-menu-toggle .bar:nth-of-type(1) {
    -webkit-transform-origin: 20px 10px;
    transform-origin: 20px 10px;
}

.svg-menu-toggle .bar:nth-of-type(3) {
    -webkit-transform-origin: 20px 20px;
    transform-origin: 20px 20px;
}

.menu-toggle.active .svg-menu-toggle .bar:nth-of-type(1) {
    -webkit-transform: rotate(-45deg) translateY(0) translateX(0);
    transform: rotate(-45deg) translateY(0) translateX(0);
}

.menu-toggle.active .svg-menu-toggle .bar:nth-of-type(2) {
    opacity: 0;
}

.menu-toggle.active .svg-menu-toggle .bar:nth-of-type(3) {
    -webkit-transform: rotate(45deg) translateY(0em) translateX(0em);
    transform: rotate(45deg) translateY(0em) translateX(0em);
}

.inline-svg {
    display: block;
    margin: 0 auto;
}

/*}*/

section {
    display: none;
    padding-top: 60px;
}

section#x {
    display: block;
}

.table {
    text-align: center;
}

a:hover {
    text-decoration: none!important;
}

#apps-list img {
    height: 32px;
    width: auto;
}

.star-pin {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 26px;
}

.star-pin-off {
    color: #ddd;
    display: none;
}

.star-pin-on {
    color: yellow;
    text-shadow: 0px 0px 1px #666;
    display: none;
}

#apps-list a[data-pinned=true] .star-pin .star-pin-on {
    display: block;
}

#apps-list a[data-pinned=false] .star-pin .star-pin-off {
    display: block;
}

hr{
    margin-top:10px;
    margin-bottom:10px;
}

.btn-group-options .btn .glyphicon {
    float: none;
    display: inline;
    text-align: center;
}

.app-list-item {
    padding-bottom: 10px;
}

.app-list-item .btn-app-name {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.btn-app-details {
    display: none;
}

.app-list-item.open .btn-app-details {
    display: block;
}

.app-list-open-closed {
    position: absolute;
    top: 20%;
    right: 10px;
}

.app-list-open-closed .open,
.app-list-item.open .closed {
    display: none;
}

.app-list-item.open .open {
    display: block;
}

.btn-app-options > .btn {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.btn-app-text {
    padding: 10px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.app-list-item .btn {
    position: relative
}

.app-list-item img {
    position: absolute;
    height: 100%;
    width: auto;
    top: 0;
    left: 0;
}

.app-info img.icon {
    width: 64px;
    height: auto;
}

.app-info-body {}

.hero-inner {
    font-size: 18px;
}

.app-list-item small {
    display: block;
}

#swipe-list {
    height: 100px;
}

#swipe-list .slick-list {
    height: 100px;
}

.overlay {
    position: fixed;
    top: 60px;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 1000;
    text-align: center;
    padding: 20%;
    font-size: 30px;
    cursor: pointer;
}

.owl-item {
    width: 100px;
    height: auto;
    display: block;
    overflow: hidden;
    text-align: center;
}

.owl-item a {
    display: block;
}

.owl-item small {
    display: block;
}

.owl-item img {
    width: 80px;
    height: auto;
    margin: 0 auto;
}
/* 
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */
/* clearfix */

.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/* display none until init */

.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
    float: left;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
    cursor: pointer;
}

.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* mouse grab icon */

.grabbing {
    cursor: url(grabbing.png) 8 8, move;
}
/* fix */

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}
/*
*   Owl Carousel Owl Demo Theme 
*   v1.3.3
*/

.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
}
/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div {
    color: #FFF;
    display: inline-block;
    zoom: 1;
    *display: inline;
    /*IE7 life-saver */
    
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #869791;
    filter: Alpha(Opacity=50);
    /*IE7 fix*/
    
    opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */

.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    filter: Alpha(Opacity=100);
    /*IE7 fix*/
    
    opacity: 1;
    text-decoration: none;
}
/* Styling Pagination*/

.owl-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
    *display: inline;
    /*IE7 life-saver */
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    /*IE7 fix*/
    
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100);
    /*IE7 fix*/
    
    opacity: 1;
}
/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers {
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

#swipe-list,
#swipe-list-2 {
    height: 130px;
}
.mobile-vpn-app{
    text-align:center;
    padding-top:50px;
}
.mobile-vpn-app img{
    width:100px;
    height:100px;
}

@media (min-width: 480px) {
    .container {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .container.nav-active {
        -moz-transform: translate3d(300px, 0, 0);
        -webkit-transform: translate3d(300px, 0, 0);
        -o-transform: translate3d(300px, 0, 0);
        -moz-transform: translate3d(300px, 0, 0);
        transform: translate3d(300px, 0, 0);
    }
}

/*STAFF DIRECTORY CONTACTS*/
ul.addresses {
  display: block;
  clear: both;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  list-style: none; }

ul.addresses li {
  padding: 10px 0 15px 0;
  border-bottom: 1px solid #ddd;
  font-size: 14px; }

ul.addresses li img {
  display: none; }

ul.addresses div {
  overflow: hidden; }

ul.addresses span {
  display: block;
  overflow: hidden; }

ul.addresses div.name .name {
  font-weight: bold; }

ul.addresses div.top, div.bottom, div.office {
  overflow: hidden;
  width: 100%; }

ul.addresses .address {
  float: left; }

ul.addresses div.tel {
  float: right; }

ul.addresses span.title {
  font-style: italic; }

ul.addresses .email {
  float: none;
  clear: both; }

ul.addresses div.tel strong {
  display: inline-block;
  width: 40px; }

@media (max-width: 979px) {
  ul.addresses li {
    margin: 0 auto;
    width: 100%; }

  ul.addresses li {
    margin-bottom: 10px; } }
@media (max-width: 479px) {
  ul.addresses div.tel, ul.addresses div.address {
    float: none; }

  ul.addresses div.tel {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #eee; } }
/* CARDS */
ul.addresses.cards {
  position: relative;
  z-index: 1;
  display: block;
  clear: both;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 0 15px 0;
  border-bottom: 1px solid #ddd;
  list-style: none; }

ul.addresses.cards li {
  position: relative;
  position: relative;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 15px;
  min-height: 100px;
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 1px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.05);
  font-size: 14px; }

ul.addresses.cards li:before, ul.addresses.cards li:after {
  position: absolute;
  bottom: 15px;
  left: 10px;
  z-index: -1;
  max-width: 300px;
  /* avoid rotation causing ugly appearance at large container widths */
  max-height: 100px;
  width: 70%;
  height: 55%;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  content: '';
  -webkit-transform: skew(-15deg) rotate(-6deg);
  -moz-transform: skew(-15deg) rotate(-6deg);
  -ms-transform: skew(-15deg) rotate(-6deg);
  -o-transform: skew(-15deg) rotate(-6deg);
  transform: skew(-15deg) rotate(-6deg); }

ul.addresses.cards li:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(15deg) rotate(6deg);
  -moz-transform: skew(15deg) rotate(6deg);
  -ms-transform: skew(15deg) rotate(6deg);
  -o-transform: skew(15deg) rotate(6deg);
  transform: skew(15deg) rotate(6deg); }

ul.cards li img {
  display: block;
  float: left;
  width: 55px;
  height: 50px;
  border: none; }

ul.addresses.cards div {
  overflow: hidden; }

ul.addresses.cards span {
  display: block;
  overflow: hidden; }

ul.addresses.cards div.name {
  padding-top: 5px;
  padding-left: 10%; }

ul.addresses.cards div.name .name {
  font-weight: bold;
  font-size: 14px; }

ul.addresses.cards div.top, div.bottom, div.office {
  overflow: hidden;
  width: 100%; }

ul.addresses.cards div.bottom {
  padding-top: 10px;
  border-top: 1px solid #eee; }

ul.addresses.cards div.bottom, div.office {
  margin-top: 15px; }

ul.addresses.cards div.office {
  padding-top: 15px;
  border-top: 1px solid #eee;
  font-weight: bold; }

ul.addresses.cards .address {
  float: left; }

ul.addresses.cards div.tel {
  float: right; }

ul.addresses.cards div.tel span.gsa {
  text-align: right; }

ul.addresses.cards div.address .gsa {
  font-weight: bold; }

ul.addresses.cards .email {
  float: none;
  clear: both; }

ul.addresses.cards div.tel strong {
  display: inline-block;
  width: 40px; }

.prevSearches {
  display: none; }

@media (max-width: 979px) {
  ul.addresses.cards li {
    margin: 0 auto;
    width: 90%; }

  ul.addresses.cards li {
    margin-bottom: 10px; } }
@media (max-width: 479px) {
  ul.addresses.cards div.tel, ul.addresses.cards div.address {
    float: none; }

  ul.addresses.cards div.tel {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #eee; } }

